{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<body class="bg-light">
<div class="container bg-white rounded p-5 pt-3" style="width: 500px">
    <h2 class="mt-5 mb-4">Log In</h2>
<form method="post">{% csrf_token %}
{{ form|crispy }}
<button class="btn btn-success ml-2" type="submit">Log In</button>
</form>
    <p class="mt-3"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>
</body>

{% endblock content %}